.color-primary {
    color: #2E3A46;
}

.color-secondary {
    color: #1E2D3B;
}

.color-tertiary {
    color: gray;
}

.quote-cards {
    width: 200px;
}

header {
    background-color: #2E3A46;
    height: 8vh;
}

main {
    background-color: #1E2D3B;

}

figure {
    background-color: #2E3A46;
    border-radius: 2.5%;
    width: 200px;
    height: 550px;

}

figure a img {
    width: 200px;
    height: 200px;
    border-radius: 5%;
}

h3 {
    color: white;
}

h4 {
    color: gray;
}